# Data 설명
---
[주택 가격 자료](https://archive.ics.uci.edu/ml/datasets/Real+estate+valuation+data+set)

대만 New Taipei시 Sindian 지역에서 수집한 주택 가격 자료이다.

# 변수 설명
---

|칼럼명 | 설명|
|:---|:---|
| No | 일련 번호 |
| X1 transaction date | 거래 날짜(예: 2013.250 = 2013 March, 2013.500 = 2013 June, etc.) |
| X2 house age | 주택 연령(단위: 연) |
| X3 distance to the nearest MRT station | 가장 가까운 지하철 역까지의 거리(단위: 미터) |
| X4 number of convenience stores | 생활권 내에 위치한 편의점 수 |
| X5 latitude | 위도(부동산의 위치) |
| X6 longitude | 경도(부동산의 위치) |
| Y house price of unit area | 평당 부동산 가격(단위: 100,000 대만 달러) |

In [2]:
import pandas as pd
# Excel 파일에 sheet가 여러 개이면 sheet_name = "sheet 이름"을
# read_excel() 함수에 지정하면 되고, sheet_name 매개 변수에
# 아무 값도 주지 않으면 첫 번째 sheet를 DataFrame 객체로 읽어 들인다.
df = pd.read_excel('Real Estate Price.xlsx')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
No                                        414 non-null int64
X1 transaction date                       414 non-null float64
X2 house age                              414 non-null float64
X3 distance to the nearest MRT station    414 non-null float64
X4 number of convenience stores           414 non-null int64
X5 latitude                               414 non-null float64
X6 longitude                              414 non-null float64
Y house price of unit area                414 non-null float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB
None

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1          2012.916667  ...     121.54024                        37.9
1   2          2012.916667  ...     121.53951                        42.2
2   3          2013.583333  ...     121.54391                        47.3
3   4          2013.500000  ...     121.54391                        54.8
4   5          2012.833333  ...     121.54245                        43.1

[5 rows x 8 columns]

In [4]:
df.columns = ['No', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'Y']
df.columns

Index(['No', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'Y'], dtype='object')

In [5]:
df.head()

   No           X1    X2         X3  X4        X5         X6     Y
0   1  2012.916667  32.0   84.87882  10  24.98298  121.54024  37.9
1   2  2012.916667  19.5  306.59470   9  24.98034  121.53951  42.2
2   3  2013.583333  13.3  561.98450   5  24.98746  121.54391  47.3
3   4  2013.500000  13.3  561.98450   5  24.98746  121.54391  54.8
4   5  2012.833333   5.0  390.56840   5  24.97937  121.54245  43.1

# 자료의 분할

# Linear Regression

# Ridge Regression과 cross-validation

# Lasso와 cross-validation

# Kernel trick을 이용한 ridge regression과 cross-validation

# Support vector regression과 cross-validation